@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "anton";
  src: url("/fonts/anton.ttf");
}

@font-face {
  font-family: "americantypewriter";
  src: url("/fonts/americantypewriter.ttf");
}

#text-circle {
  animation: spin 25s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

html {
  background-image: linear-gradient(
    to bottom,
    white 0%,
    white 90%,
    #32353e 90%,
    #32353e 100%
  );
}

@supports (-webkit-touch-callout: none) {
  #img-bg {
    background-attachment: scroll !important;
  }
}

@supports not (-webkit-touch-callout: none) {
  #img-bg {
    background-attachment: fixed !important;
  }
}
